<head>
    <title>Prediction Project</title>
    <style>
        canvas {
            border: 1px solid black;
            background-color: white;
        }
    </style>
</head>

<body>
    <h1>Draw a Digit</h1>
    <canvas id="canvas" width="280" height="280"></canvas>
    <br>
    <input type="range" id="brush_size" min="1" max="20" value="5">
    <button id="predict-button">Predict</button>
    <button id="clear-button">Clear</button>
    <p id = 'prediction'></p>

    <script>
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const brush_size = document.getElementById('brush_size');
        const clear_button = document.getElementById('clear-button');
        const predict_button = document.getElementById('predict-button');

        ctx.fillStyle = "white";                         // Set fill color to white
        ctx.fillRect(0, 0, canvas.width, canvas.height); // Fill the entire canvas with white

        let isDrawing = false;

        function startDrawing(e) { // e is a parameter for mouse-related events
            isDrawing = true;      // e.clientX and Y, e.pageX and Y, e.button(s)
            draw(e);
        }

        function stopDrawing(e) {
            isDrawing = false;
            ctx.beginPath();
        }

        function draw(e) {
            if (!isDrawing) return;

            ctx.lineWidth = brush_size.value;
            ctx.lineCap = 'round';

            ctx.lineTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
        }

        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.fillStyle = "white";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
        }

        function predictCanvas() {
            const imageData = ctx.getImageData(0, 0, 280, 280);
            const data = imageData.data;
            console.log('Sample pixel data:', data);

            const dataURL = canvas.toDataURL('image/png');
            
            // ** the fetch function sends the image data to the Django backend at the URL /mnist/predict/
            fetch('/mnist/predict/',
                {
                    method: 'POST',
                    body: JSON.stringify({image: dataURL}),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    }
                }
            )
            .then(response => response.json()) // convert image to json
            .then(data => {
                document.getElementById('prediction').innerText = `Predicted digit: ${data.digit}`;
            })
        }

        canvas.addEventListener('mousedown', startDrawing); // user clicks on mouse button
        canvas.addEventListener('mousemove', draw); // automatically passes an event object when mouse is on canvas
        canvas.addEventListener('mouseup', stopDrawing); // user releases the mouse button
        canvas.addEventListener('mouseout', stopDrawing); // mouse leaves the canvas
        clear_button.addEventListener('click', clearCanvas);
        predict_button.addEventListener('click', predictCanvas);
    </script>
</body>